[package]
name = "atm0s-sdn-standalone"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/8xFF/atm0s-sdn"
description = "Decentralized Ultra-Low-Latency Software Defined Network"
license = "MIT"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
signal-hook = "0.3.17"
log.workspace = true
clap.workspace = true
serde.workspace = true
atm0s-sdn = { path = "../packages/runner", version = "0.2.5", features = ["vpn"] }
tokio = { version = "1", features = ["full"] }
poem = { version = "3.0", features = ["embed", "static-files", "websocket"] }
rust-embed = { version = "8.2", optional = true }

futures-util = "0.3"
tracing-subscriber = "0.3"
serde_json = "1.0"
local-ip-address = "0.6"

[features]
default = ["embed"]
embed = ["rust-embed"]
