[package]
name = "atm0s-sdn-network"
version = "0.1.0"
edition = "2021"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atm0s-sdn-utils = { workspace = true }
atm0s-sdn-identity = { workspace = true }
atm0s-sdn-router = { workspace = true }
async-std = { workspace = true }
futures = "0.3"
convert-enum = "0.1.0"
parking_lot = { workspace = true }
async-trait = { workspace = true }
log = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }
bytes = "1.5.0"
bincode = "1.3.3"

[dev-dependencies]
env_logger = { workspace = true }
mockall = { workspace = true }
atm0s-sdn-router = { workspace = true, features = ["mock"]}