[package]
name = "atm0s-sdn-network"
version = "0.3.1"
edition = "2021"
description = "Main network-plane of atm0s-sdn"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atm0s-sdn-utils = { path = "../core/utils", version = "0.1.1" }
atm0s-sdn-identity = { path = "../core/identity", version = "0.2.0" }
atm0s-sdn-router = { path = "../core/router", version = "0.1.4" }
rand = { workspace = true }
convert-enum = "0.1.0"
parking_lot = { workspace = true }
log = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }
bytes = "1.5.0"
bincode = "1.3.3"
sha1 = "0.10.6"
num = "0.4.1"
sha2 = "0.10.8"

[dev-dependencies]
env_logger = { workspace = true }
mockall = { workspace = true }
atm0s-sdn-router = { path = "../core/router", version = "0.1.4" }

[features]
default = ["vpn", "fuzz"]
vpn = []
fuzz = []
