[package]
name = "atm0s-sdn-network"
version = "0.6.2"
edition = "2021"
description = "Main network-plane of atm0s-sdn"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atm0s-sdn-utils = { path = "../core/utils", version = "0.2.1" }
atm0s-sdn-identity = { path = "../core/identity", version = "0.3.1" }
atm0s-sdn-router = { path = "../core/router", version = "0.2.4" }
sans-io-runtime = { workspace = true, default-features = false }
rand = { workspace = true }
mockall = { workspace = true }
convert-enum = { workspace = true }
num_enum = { workspace = true }
parking_lot = { workspace = true }
log = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }
bytes = "1.5"
bincode = "1.3"
sha1 = "0.10"
num = "0.4"
sha2 = "0.10"
x25519-dalek = { version = "2.0", features = ["getrandom"] }
aes-gcm = "0.10"
derivative = "2.2"

[dev-dependencies]
env_logger = { workspace = true }

[features]
default = ["fuzz"]
vpn = []
fuzz = []
