[package]
name = "atm0s-sdn"
version = "0.1.10"
edition = "2021"
repository = "https://github.com/8xFF/atm0s-sdn"
description = "Decentralized Ultra-Low-Latency Software Defined Network"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = { workspace = true }
sans-io-runtime = { workspace = true, features = ["poll-backend", "polling-backend", "udp"] }
atm0s-sdn-identity = { path = "../core/identity", version = "0.2.0" }
atm0s-sdn-router = { path = "../core/router", version = "0.1.4" }
atm0s-sdn-network = { path = "../network", version = "0.3.1" }

convert-enum = { workspace = true }
num_enum = { workspace = true }
rand.workspace = true
parking_lot.workspace = true
log.workspace = true
serde.workspace = true
bincode.workspace = true
local-ip-address = "0.6.1"

[dev-dependencies]
env_logger = { workspace = true }
signal-hook = "0.3.17"
clap.workspace = true

[features]
default = []
vpn = ["sans-io-runtime/tun-tap", "atm0s-sdn-network/vpn"]

[[example]]
name = "simple_node"
features = ["vpn"]

[[example]]
name = "simple_kv"
features = []
