[package]
name = "atm0s-sdn-generic-tests"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[dev-dependencies]
allocation-counter = { workspace = true }
async-std = { workspace = true }